@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

body {
    margin: 0;
    background-color: #f1f1f1;
}
.bold {
    font-weight: bold;
}
.calendar {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.calendar__header {
    background-image: url(./images/bg.jpeg);
    background-size: cover;
    animation: bg_animation 25s linear infinite;
    background-repeat: no-repeat;
    background-position: top center;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.calendar__header-thanks {
    height: 100vh !important;
}

.calendar__title {
    font-family: Helvetica, sans-serif;
    color: #fff;
    margin: 0;
    padding: 0;
    font-size: 50px;
    font-weight: bold;
    margin: 0 auto;
}

.calendar__subtitle {
    font-family: Helvetica, sans-serif;
    color: #fff;
    margin: 0;
    padding: 0;
    font-size: 25px;
    font-weight: 100;
    margin: 0 auto;
}

.calendar__dates-title {
    padding: 30px 0px 0px 0px;
    display: flex;
    justify-content: center;
}

.calendar__first-step {
    display: flex;
    font-family: Helvetica, sans-serif;
    color: #000;
    margin: 0;
    font-size: 36px;
    font-weight: bold;
    align-self: center;
}

.calendar__main-section {
    margin: auto;
    display: flex;
    flex-direction: column;
}

.calendar__dates {
    display: flex;
}

.calendar__dates-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    justify-content: center;
    max-width: 1400px;
    margin: 25px auto;
}

.calendar__dates-list-item {
    margin: 5px;
    color: #000;
    font-family: Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 5px;
    align-items: center;
    border: 2px solid #e6e6e6;
    padding: 15px 17px;
    transition: border .3s;
    background-color: #ffffff;
    transition: transform .3s;
    outline: none;
    max-width: 173px;
    max-height: 86px;
}

.calendar__dates-list-item:hover {
    border: 2px solid #d64141;
    cursor: pointer;
}

.calendar__dates-list-item:active {
    border: 2px solid #d64141 !important; 
    box-shadow: 0 0 20px #d641412e;
    outline: none;
}

.calendar__dates-list-item_active {
    transform: scale(1.02);
    border: 2px solid #d64141 !important; 
    box-shadow: 0 0 20px #d641412e;
    outline: none;
}


.calendar__dates-data {
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-size: 27px;
}

.calendar__dates-day {
    margin: 0;
    padding: 5px 0px 0px 0px;
    font-weight: 100;
    font-size: 14px;
    color: grey;
}

.calendar__bottom {
    display: flex;
    flex-direction: column;
    background-color: #f1f1f1;
    padding-bottom: 100px;
    padding-top: 35px;
}

.calendar__schedule-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    animation: .4s linear fade;
    font-family: Helvetica, sans-serif;
    color: #fff;
    margin: 0;
    font-size: 50px;
    align-self: center;
    width: 110%;
    text-align: left;
    padding: 25px 76px 25px 76px;
    background-color: #245ccc;
    border-radius: 25px;
    box-shadow: 0px 14px 20px #255ccc5e;
}

.calendar__schedule-subtitle {
    font-family: Helvetica, sans-serif;
    color: #000;
    margin: 0;
    font-size: 20px;
    font-weight: 100;
    padding: 25px 20px 25px 25px;
}

.calendar__schedule {
    max-width: 700px;
    list-style: none;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    padding: 0px 0px 25px 0px;
}

.calendar__schedule-wrapper {
    max-width: 700px;
    background-color: #fff;
    border-radius: 25px;
    margin: 0 auto;
    box-shadow: 0px 11px 20px #00000014;
    display: flex;
    flex-direction: column;
    padding: 0px 10px 10px 10px;
    animation: .3s linear fade;
}

.calendar__schedule-item {
    margin: 10px;
    width: 40%;
    height: 50px;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    background-color: #1f2127;
    border: 3px solid #1f2127;
    color: white;
    padding: 8px 30px;
    transition: background-color .3s;
    box-shadow: 0px 0px 0px white;
    transition: border .3s;
    border-radius: 25px;
    outline: none;
}

.calendar__schedule-item:hover {
    border: 3px solid #245ccc; 
    box-shadow: 0 0 20px #d641412e;
    cursor: pointer;
}

.calendar__schedule-item_active {
    transform: scale(1.02);
    border: 3px solid #d64141 !important; 
    box-shadow: 0 0 20px #d641412e;
    outline: none;
}

.calendar__schedule-item:disabled {
    opacity: .3 !important;
    cursor: default !important;
    border: 3px solid #171717 !important; 
    background-color: #1f2127 !important;
    box-shadow: none !important;
}

.calendar__submit-button {
    position: absolute;
    align-self: center;
    bottom: 0px;
    width: 100%;
    height: 64px;
    background-color: #255ccc;
    border: none;
    border-radius: 15px;
    color: #fff;
    font-size: 20px;
    outline: none;
    cursor: pointer;
    outline: none;
    font-weight: bold;
    transition: opacity .3s;
    box-shadow: 0px 5px 20px #255ccc52;
}

.calendar__submit-button:hover {
    opacity: .7;
}

.calendar__submit-button:disabled {
    cursor: default;
    opacity: .2;
}

.calendar__form {
    padding: 0px 25px 85px 25px;
    position: relative;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 425px) {
    .calendar__dates-list {
        flex-wrap: nowrap;
        max-width: 100vw;
        overflow-x: scroll;
        overflow-y: hidden;
        justify-content: flex-start;
    }
}

.form__error {
    display: none;
    margin-top: 6px;
    padding-left: 5px;
	color: #df4b41;
	text-align: left;
	font-size: 14px;
    animation: errors .1s ease-in-out;
}

.form__input:valid:not(:placeholder-shown) {
    border-color: green !important;
}

.form__input:invalid:not(:placeholder-shown) {
    border-color: red !important;
}

.form__input:invalid:not(:placeholder-shown) + .form__error {
	display: block;
}


.calendar__popup {
    max-width: 500px;
    margin: auto;
    border-radius: 15px;
    padding: 30px;
    background-color: #f1f1f1;
    color: #1f2127;
    font-family: Helvetica, sans-serif;
    box-shadow: 0px 2px 20px #000000c9;
}

.calendar__popup-title {
    font-size: 36px;
}

.calendar__popup-text {
    font-size: 16px;
    margin: 19px 0px 0px 0px;
    line-height: 1.8rem;
}

.calendar__schedule-cancel-arrow {
    text-decoration: none;
    color: white;
    transition: all .2s;
}

.calendar__schedule-cancel-arrow:hover {
    outline: none;
    opacity: .9;
    cursor: pointer;
}

.calendar__popup-price {
    font-family: Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    font-size: 45px;
    margin: 0;
    padding: 10px;
}