@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

body {
    margin: 0;
    background-color: #f1f1f1;
}

.calendar {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding-bottom: 100px;
}

.calendar__header {
    background-image: url(./images/bg.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.calendar__title {
    font-family: Helvetica, sans-serif;
    color: #fff;
    margin: 0;
    padding: 0;
    font-size: 50px;
    font-weight: bold;
    margin: 0 auto;
}

.calendar__subtitle {
    font-family: Helvetica, sans-serif;
    color: #fff;
    margin: 0;
    padding: 0;
    font-size: 25px;
    font-weight: 100;
    margin: 0 auto;
}

.calendar__firs-step {
    display: flex;
    font-family: Helvetica, sans-serif;
    color: #000;
    margin: 0;
    padding: 30px 0px 0px 0px;
    font-size: 25px;
    font-weight: bold;
    align-self: center;
}

.calendar__main-section {
    margin: auto;
    display: flex;
    flex-direction: column;
}

.calendar__dates {
    display: flex;
}

.calendar__dates-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    justify-content: center;
    max-width: 1400px;
    margin: 35px auto;
}

@media screen and (max-width: 425px) {
    .calendar__dates-list {
        flex-wrap: nowrap;
        max-width: 100vw;
        overflow: scroll; 
        justify-content: flex-start;
    }
}

.calendar__dates-list-item {
    margin: 5px;
    color: #000;
    font-family: Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 5px;
    align-items: center;
    border: 2px solid #e6e6e6;
    padding: 15px 17px;
    transition: border .3s;
    background-color: #ffffff;
    transition: transform .3s;
    outline: none;
    max-width: 173px;
    max-height: 86px;
}

.calendar__dates-list-item:hover {
    border: 2px solid #d64141;
    cursor: pointer;
}

.calendar__dates-list-item:active {
    border: 2px solid #d64141 !important; 
    box-shadow: 0 0 20px #d641412e;
    outline: none;
}

.calendar__dates-list-item_active {
    transform: scale(1.02);
    border: 2px solid #d64141 !important; 
    box-shadow: 0 0 20px #d641412e;
    outline: none;
}


.calendar__dates-data {
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-size: 27px;
}

.calendar__dates-day {
    margin: 0;
    padding: 5px 0px 0px 0px;
    font-weight: 100;
    font-size: 14px;
    color: grey;
}

.calendar__bottom {
    display: flex;
    flex-direction: column;
}

.calendar__schedule-title {
    animation: .4s linear fade;
    font-family: Helvetica, sans-serif;
    color: #fff;
    margin: 0;
    font-size: 50px;
    align-self: center;
    width: 100%;
    text-align: left;
    padding: 25px 0px 25px 76px;
    background-color: #245ccc;
    border-radius: 25px;
    box-shadow: 0px 14px 20px #255ccc5e;
}

.calendar__schedule-subtitle {
    font-family: Helvetica, sans-serif;
    color: #000;
    margin: 0;
    font-size: 20px;
    font-weight: 100;
    padding: 25px 20px 25px 25px;
}

.calendar__schedule {
    max-width: 700px;
    list-style: none;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    padding: 0px 0px 25px 0px;
}

.calendar__schedule-wrapper {
    max-width: 700px;
    background-color: #fff;
    border-radius: 25px;
    margin: 0 auto;
    box-shadow: 0px 11px 20px #00000014;
    display: flex;
    flex-direction: column;
    padding: 0px 10px 10px 10px;
    margin-top: 50px;
    animation: .3s linear fade;
}

.calendar__schedule-item {
    margin: 10px;
    width: 40%;
    height: 50px;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    background-color: #1f2127;
    border: 3px solid #1f2127;
    color: white;
    padding: 8px 30px;
    transition: background-color .3s;
    box-shadow: 0px 0px 0px white;
    transition: border .3s;
    border-radius: 25px;
    outline: none;
}

.calendar__schedule-item:hover {
    border: 3px solid #245ccc; 
    box-shadow: 0 0 20px #d641412e;
    cursor: pointer;
}

.calendar__schedule-item_active {
    transform: scale(1.02);
    border: 3px solid #d64141 !important; 
    box-shadow: 0 0 20px #d641412e;
    outline: none;
}

.calendar__schedule-item:disabled {
    opacity: .3 !important;
    cursor: default !important;
    border: 3px solid #171717 !important; 
    background-color: #1f2127 !important;
    box-shadow: none !important;
}

.calendar__submit {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    max-width: 1400px;
}

.calendar__submit-button {
    width: 100%;
    height: 64px;
    background-color: #255ccc;
    border: none;
    border-radius: 15px;
    color: #fff;
    font-size: 20px;
    outline: none;
    cursor: pointer;
    outline: none;
    font-weight: bold;
    transition: opacity .3s;
    box-shadow: 0px 5px 20px #255ccc52;
}

.calendar__submit-button:hover {
    opacity: .7;
}

.calendar__submit-button:disabled {
    cursor: default;
    opacity: .2;
}